@import url('../theme/theme.css');
@import url('../base/tags.css');
@import url('../module/main.css');
@import url('../module/call-to-action.css');
@import url('../module/button.css');


*{
    list-style-type: none;
}


head, script{
    display: none;
    visibility: hidden;
}

body{
    color:var(--color-primary--)
}

.apresentacao,
.entrega{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Inicio */

.inicio{
    background-image: url('../../img/background-main/bporh.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Apresentação */
.apresentacao{
    flex-direction: row;
    justify-content: center;
}

.a-content{
    width: 40%;
    margin: 10% 0 5% 0;

    align-items: start;
}

.a-info{
    color: var(--color-primary--);
    font-size: 1.8rem;
    margin-bottom: 5%;
}

.a-img{
    height: 25vw;
}

/* Entrega */

.entrega{
    width: 100vw;
}

.e-title{
    color: var(--color-secundary--);
    font-size: 3rem;
    font-weight: 500;
    margin: 5vh auto;
}

.card{
    background-color: var(--color-primary--);
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 80vw;

    margin:5% auto;
}

.e-content{
    margin-left: 5vw;
    align-items: start;
}

.e-info{
    color: white;
    font-size: 1.5rem;
    margin: 2% 0%;
}

.e-img{
    height: 20vw;
}

.b-secundary{
    margin: 3% 0% 0% 0%;
    padding: 2%;
}

#c-reverse{
    flex-direction: row-reverse;
}

#e-content-reverse{
    margin-right: 10vw;
}

@media (max-width:1000px){
    .inicio{
        background-position: top;
    }

    .container{
        margin-left: 0%;
    }

    .e-img{
        height:25vw;
    }

    .e-info{
        font-size: 1.5rem;
    }
}

@media (max-width:550px){
    .inicio{
        background-position: left top;
        background-size: auto;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .a-content{
        width: 90vw;
    }

    .a-info{
        font-size: 1.5rem;
    }

    .a-img{
        height: 50vw;
    }

    .card, #c-reverse{
        flex-direction: column-reverse;
        justify-content: space-evenly;

        width: 89.5vw;
        height: max-content;

        padding-bottom: 5%;
    }

    .e-content, #e-content-reverse{
        width: 90%;
        margin: 5% 0%;
    }

    .e-img{
        height: 55vw;
    }

    .e-info{
        font-size: 1.5rem;
    }

    .b-secundary{
        padding: 3%;
        margin: 10% auto 0% auto;
    }

    #e-img3{
        height: 61.5vw;
    }
}