@import url(../theme/theme.css);

a{
    text-decoration: none;
}

::-webkit-scrollbar {
    overflow-y: hidden;
}

/*Pré-Definições*/


.container{
    margin: auto 5%;
}


/*Pré-Definições*/

/* Titulo Home */
.TituloHome h2{
    text-align: center;
    margin-top: 100px;
    text-align: center;

    color: #1c2733;
    font-weight: 300;
    font-size: 40px;
    padding-top: 20px;
}

.TituloHome div{
    background-color: #EE8F2F;
    width: 100px;
    height: 4px;
    display: block;
    margin: 2vh auto;
}
  /* Titulo Home */



/*-----------------------------------------------------------------------------------------------------*/


body{
    background-color: #F0F0F0;
}

/*-------------------------------------------------------------------------------------------------------*/


/*Parte Inicial*/
#Inicial{
    width: 100vw;
    height: 100vh;

    background: linear-gradient(90deg, rgba(58,80,104,1) 0%, rgba(28,39,51,1) 100%);
    transition: all 0.1s;

}

#box-inicial{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height:100vh;

    padding-top:10%;
}

#logo{
    height:10vw;
    margin-bottom: 2.5%;
}

.frase1{
    color: #3b3b3b;
    font-size: 1.75rem;
    font-weight: 400;
    line-height:1.7rem;
}

.pesquisa{
    width:50vw;
    height:10vh;

    margin-top:.5%;

    border-radius:10px;
    border:none;

    outline:none;

    color:#7b7b7b;
    padding: 0px 20px 0px 20px;

    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 999;
}

.selection{
    display: none;
    margin-top: 5px;

    background-color:white;
    border-radius:10px;
    padding:0;

    transition: opacity 0.2s linear, visibility 0.2s linear;

    position: relative;
    z-index: 999;

    overflow: hidden;
}

.section-select{
    display:flex;
    flex-direction:column;
}

.link-select{
    box-sizing: border-box;

    color:#3b3b3b;
    width:100%;
    padding: .5rem 20px;
    font-size: 1.5rem;
    font-weight: 400;

    text-align: left;
}

.link-select:hover{
    color:var(--color-primary--);
    background-color:var(--grey-one);
}

#search{
    background-color: transparent;
    border:none;
}

#arrow-down{
    background-color: white;
    color:var(--color-primary--);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 1%;
    border-radius: 100%;

    position: absolute;
    top:95vh;
    left: 47.5vw;

    width: 25px;
    height: 25px;

    font-size: 3rem;
    font-weight:900;
}

#arrow-down-icon{
    width: 15px;
}

/*Parte Inicial*/


/*-------------------------------------------------------------------------------------------------------*/

/* YOUTUBE */
#video{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;

    overflow-x: hidden;
    overflow-y: hidden;

    position: relative;
}

#video h2{
    font-size: calc(2rem + 2vw);
    color:var(--color-secundary--);
    margin: 5%;

    text-align: center;
    font-family: 'Lexend Deca';
    font-weight: 400;

    z-index: 1;

}

#video button{
    border: none;
    background-color: transparent;
    cursor:pointer;

    z-index:99;
}

#video div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .5s;
}

#wave{
    background-color: transparent;
    border-radius: 50%;
    border: 1.5px solid #EE8F2F;

    position: absolute;
    z-index: 0;
    
    animation: wave 4s;
    animation-iteration-count: 5;
}

#wave-01{
    background-color: transparent;
    border-radius: 50%;
    border: 1.5px solid #EE8F2F;
    
    position: absolute;
    z-index: 0;
    
    animation: wave 4.5s;
    animation-iteration-count: 5;
}

#wave-02{
    background-color: transparent;
    border-radius: 50%;
    border: 1.5px solid #EE8F2F;
    
    position: absolute;
    z-index: 0;
    
    animation: wave 5s;
    animation-iteration-count: 5;
}

.youtube-container{
    width: 100vw;
    height:100vh;    
    position: absolute;
    left: 100vw;
    display: none;
}

#close{
    margin: 2.5%;
    cursor: pointer;
}


@keyframes wave{
    from{
        height: 50vw;
        width: 50vw;
    }
    to{
        height: 75vw;
        width: 75vw;
    }
}
/* YOUTUBE */

/*-------------------------------------------------------------------------------------------------------*/


/* Prncipais_Produtos */
/*
.principais-produtos{
    width: 90vw;
    background: linear-gradient(90deg, rgba(57,81,105,1) -43%, rgba(35,49,64,1) 48%);

    margin: 10vh auto;
    display: block;
    border-radius: 20px;
    padding: 5vh 0;
    height: max-content;
}

.principais-produtos h2 span{font-weight: 600;}

.principais-produtos h2{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 40px;
    margin: 0 0 15px 0;
    padding-top: 20px;
}

.principais-produtos div{
    width: 25vw;
    height: 210px;
    margin: 20px 0;
    border-radius: 10px;
    background: #1c2733;
    transition: all 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    overflow: hidden;
    box-shadow: 10px 10px 20px #0e121763;

    box-sizing: border-box;
}

.principais-produtos button{
    width: 106px;
    
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;  
    font-family: 'Lexend Deca', sans-serif;
    
    background-color: #EE8F2F;
    border-radius: 2px;
    border: none;
    cursor: pointer;

    margin: 30px auto;
    outline: none;
    
    
    animation-duration: 2s;
    transition: all 0.2s;
    transform: translateY(-60px);
}

.principais-produtos nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.principais-produtos div img{
    height: 100px;
    transition: all 0.5s;
    margin-top: 40px;
    margin-bottom: 30px;
}

.principais-produtos div p{
    color: white;
    transition: all 0.5s;
    font-size: 13px;
    width: 90%;
    text-align: left;
}
.principais-produtos div h3{
    color: white;
    text-align: left;
    transition: all 0.5s;
    margin: 0 0 20px 0;
    font-weight: 200;
    font-size: 14px;
    padding: 0 5%;
}

.principais-produtos div:hover{
    transform: scale(1.05);
    height: 320px;
    border-radius: 7px;
}

.principais-produtos div:hover img{
    transform: scale(0.7) translate(-100px , -40px);
}
.principais-produtos div:hover h3{
    transform:  translate(0, -50px);
}

.principais-produtos div:hover p{
    transform:  translate(0, -50px);
}
*/

.produtos{
    width: 90vw;
    height: max-content;

    box-sizing: border-box;
    border-radius: 20px;

    background-color: var(--color-primary--);

    margin: auto;
    padding: 2.5%;
    padding-bottom:2rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    gap: 50px;

    position:relative
}
.produtos h2{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 4rem;

    margin: 0 0 15px 0;
    padding-top: 1rem;
}

.produtos h2 span{
    font-weight: 700;
}

.produtos li{
    width: 90%;

    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: start;

    box-sizing: border-box;

    gap:20px;

    transition: .7s;
}

.card{
    background-color: #1c2733;
    border-radius: 10px;

    box-sizing: border-box;
    padding:.5% 1%;

    width: 15vw !important;
    height: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: .3s;
}

.card:focus,
.card:hover{
    transform: scale(1.05);
}

.card img{
    max-width: 7.5vw;
    cursor: pointer;

}

.slide{
    width: 80vw;
}

#nav-slide{
    overflow-x: hidden;
}


.next,
.back{
    background-color: transparent;
    border:none;
    transition: .3s;
    cursor:pointer;

    position: absolute;
    top:65%;
}

.next:hover,
.next:focus,
.back:hover,
.back:focus{
    transform: scale(1.05);
    transition: .3s;
} 

.next{
    right:2.5rem;
}

.back{
    left:2.5rem
}

.next svg,
.back svg{
    color: white;
}


#previus{
    rotate: 180deg;
}

/* Produtos */
/*-------------------------------------------------------------------------------------------------------*/
/*O que falam de nós*/

#OqFalam{
    width: 90vw;
    height: 505px;
    background-color: white;
    margin: 120px auto 0 auto;
    display: block;
    border-radius: 20px;
    overflow: hidden;

    background-position: center;
    background-size: 80%;
}
#OqFalam span{font-weight: 600;}
#OqFalam h2{
    text-align: center;
    color: #233140;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    margin-top: 50px;
    
}

#OqFalam div{
    width: 600px;
    height: 300px;
    display: block;
    margin: 20px auto 0 auto;
    transition: all 0.5s;
}

#OqFalam div p{
    text-align: center;
    font-size: 20px;
    width: 80%;
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 80px;
    font-family: 'Lexend Deca', sans-serif;
    color: #3A5068;

}
#OqFalam div h3 span{font-weight: 200;}
#OqFalam div h3{
    text-align: center;
    font-size: 20px;
    width: 80%;
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 40px;
    font-family: 'Lexend Deca', sans-serif;
    color: #EE8F2F;

}

#OqFalam nav{
    transform: translateY(-600px);
    display: block;
    margin: 0 auto 0 auto;
    width: 200px;
    text-align: center;
}

#OqFalam nav div{
    width: 15px;
    height: 15px;
    background: #787878;
    border-radius: 1000px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

#OqFalam nav div:hover{
    background-color: #3A5068;
}


@media(max-width: 785px){
    #OqFalam div{
        width: 90%;
    }
}

@media(max-width: 639px){

    #OqFalam h1{
        font-size: 30px;
    }
    #OqFalam div p{
        font-size: 18px;
    }

}


@media(max-width: 511px){

    #OqFalam h1{
        font-size: 25px;
    }

    #OqFalam div p{
        font-size: 16px;
    }
    


}

@media(max-width: 488px){

    #OqFalam  h2{
        font-size: 30px;
    }

    #OqFalam div p{
        font-size: 15px;
    }

}
/*O que falam de nós*/



/*Redes-Sociais*/
#redes-sociais{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 20px;

    margin-top: 5vh;
}

#redes-sociais h2{
    font-family: 'Montserrat';
    font-size: calc(1.5rem + 1vw);
    font-weight:400;
    color: var(--color-primary--);

    width: 75%;
}

#redes-sociais li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-align: center;

    gap: 1rem;
}

#redes-sociais span{
    font-weight: 700;
}
/*Redes-Sociais*/



/* DESTAQUE */
#destaque{
    margin: 10vh auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    width: 90vw;
    height: max-content;
}

#destaque h2{
    font-size: calc(1.5rem + 1vw);
    color: var(--color-primary--);
    font-weight: 400;
}

#produto{
    width: 100%;
    height: 50vh;

    box-sizing: border-box;
    border-radius: 20px;  

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 50px;

    position: relative;

    overflow: hidden;
}

#background{
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: 0;

    filter: brightness(.2);
}

#icone-produto{
    height: calc(15vh + 25px);
    z-index: 1;
}

#img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;
}

#content{
    width: 50vw;
    z-index: 999;
}

#produto h2{
    color: white;
    font-size: calc(2rem + 1vw);
    font-weight:200;
}

#produto span{
    font-weight:700
}

#produto div p{
    font-size: calc(1rem + .5vw);
    font-family: 'Montserrat';
    color: white;
    margin: 5vh auto;
}

#produto a button{
    background-color: var(--color-secundary--);
    border: none;
    border-radius:10px;
    padding: 1.5%;

    color: white;

    cursor:pointer;
}


#news{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#new{
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    height:50vh;
    width: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}

#new img{
    position: absolute;
    z-index:0;
    height: 100%;
    filter: brightness(.2);
}

#new a{
    z-index:1;
    color: white;
    font-size: calc(1rem + 1vw);
    padding: 5%;

    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}

#new h2{
    z-index: 2;
    font-weight:200;
    color: var(--color-secundary--);
    margin-bottom:2.5%
}

#new span{
    font-weight: 400;
}

#new p{
    font-weight:200;
    z-index: 2;
    font-size: calc(1rem + .75vw);
}

#podcast{
    width: 30vw;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 50vh;
}

#podcast img{
    height: 100%;
    width: 100%;
    position: absolute;
    filter: brightness(.2);

    z-index:0;
}

#podcast a{
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width:100%;
}
/* DESTAQUE */
/*-------------------------------------------------------------------------------------------------------*/

/*Area Contato*/


#Contato{
    width: 90vw;
    height: 658px;
    background-color: #233140;
    display: block;
    margin: 150px auto 202px auto;
    padding: 42px 0 0 0;
    border-radius: 18px;

}

#Contato h2{
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 50px;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0 0 26px 0;
    padding: 0 30px 0 30px;

}

#Contato div{
    background: #EE8F2F;
    border-radius: 7px;
    width: 185px;
    height: 5px;
    display: block;
    margin: 19px auto 10px auto;
}

#Contato span{
    font-weight: 800;
}

#Contato form{
    width: 569px;
    height: 336px;
    display: block;
    margin: 0 auto 0 auto;
}

#Contato label{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    display: block;

    
}

#Contato input{
    display: block;
    width: 100%;
    height: 39px;
    border-radius: 3px;
    border: none;
    outline: none;
    margin: 10px 0 23px 0;
    color: #3A5068;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    padding: 0 0 0 5px;
    background-color: #F0F0F0;

}

#Contato textarea{
    display: block;
    width: 100%;
    height: 181px;
    border-radius: 3px;
    border: none;
    outline: none;
    margin: 10px 0 0 0;
    padding: 5px 0 0 5px;
    color: #3A5068;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    resize: none;
    background-color: #F0F0F0;
}

#Contato input[type = submit]{
    margin: 15px 0 0 0;
    width: 107px;
    height: 38px;
    background: #EE8F2F;
    border-radius: 2px;

    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    border: none;
    cursor: pointer;
    padding: 0;
}

@media (max-width: 796px){

    
    #Contato h2{
        font-size: 32px;

    }

    #Contato form{
        width: 80%;
    }

}

@media (max-width: 620px){

    #Contato{
        height: 708px;
       
    }
}


@media (max-width: 447px){

    
    #Contato h2{
        font-size: 28px;

    }

}
/*Area Contato*/


/*-------------------------------------------------------------------------------------------------------*/


/* Responsavel por deixar os blocos responsivo*/

@media (max-width:1200vw){
}

@media(max-width: 947px){
    
    .principais-produtos div{
        width: 40vw;
        height: 35vh;
        margin: 20px 0 20px 0;
        border-radius: 10px;
        background: #1c2733;
        transition: all 0.5s;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        box-shadow: 10px 10px 20px #0e121763;
    }
    .principais-produtos{
        height: 100%;
    }

    .principais-produtos button{
        transform: translateY(0px);

    }
}

@media(max-width: 850px){
    
    
    /* INICIAL */
    
    #box-inicial{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    #logo{
        margin-top:10vh;
        height: 15vw;
    }

    .selection{
        display:flex;
        justify-content: center;
        align-items: center;
        width:95%;
    }

    .section-select{
        width: 100%;
    }

    .pesquisa{
        margin-top: 20%;
        width:90%;
    }

    .dropdown{
        width:90vw;
        align-items: flex-start;
    }

    .link-select{
        width:80vw;
    }

    /* INICIAL */
    
    #Destaques{
        width: 95%;
    }

    #Empresas{
        width: 95%;
    }

    #OqFalam{
        width: 95%;
    }

    #Contato{
        width: 95%;
    }

    /* YOUTUBE */

    #container-y{
        height: max-content;
    }

    #youtube{
        width: 55vw;
        height: 30vw;
    }

    /* YOUTUBE */

    /* Destaques */
    #icone-produto{
        height: 10vh;
    }

    #new, #podcast{
        height: 25vh;
    }
    /* Destaques */

    .card{
        width: 80vw !important;
    }

    .card img{
        max-width: 25vw;
    }
}

@media(max-width: 600px){


    /* INICIAL */

    #box-inicial{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    #logo{
        margin-top:10vh;
        height: 20vw;
    }

    .selection{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;

        display: none;
    }

    .section-select{
        width: 100%;
    }

    .pesquisa{
        box-sizing: border-box;
        margin-top: 20%;
        width:100%;
    }

    /* INICIAL */

        /* YOUTUBE */

        #container-y{
            height: 100%;
        }
    
        #youtube{
            width: 90vw;
            height: 25vh;
        }
    
        /* YOUTUBE */

        /* Principais Produtos */

        .principais-produtos div img{
            transform: scale(0.7) translate(-100px , -60px);
        }
        .principais-produtos div h3{
            transform:  translate(0, -50px);
        }
        
        .principais-produtos div p{
            transform:  translate(0, -50px);
        }
        .principais-produtos div{
            transform:  translate(0, -50px);
            height: 280px;
        }
    
        .principais-produtos div:hover{
            transform:  translate(0, -50px);
    
        }
        
        .principais-produtos h2{
            margin-bottom: 100px;        
        }


        /* Destaque */
        #background{
            height: 100%;
        }

        #produto{
            flex-direction: column;
            padding: 5vh 0;
        }

        #produto div{
            width: 90%;
        }
        /* Destaque */

        #news{
            flex-wrap: wrap;
        }

        #new, #podcast{
            width: 90vw;
        }
}

@media(max-width: 440px){


    .principais-produtos div img{
        transform: scale(0.7);
        margin: 3vh 0 7vh 0;
    }
    .principais-produtos div h3{
        transform:  translate(0, -50px);
    }
    
    .principais-produtos div p{
        transform:  translate(0, -50px);
    }
    .principais-produtos div {
        transform: translate(0, -50px);
        height: max-content;
        width: 85vw;
      }

    .principais-produtos div:hover{
        transform: scale(.5) translate(10, -50px);
        height:40vh;
    }
    
    .principais-produtos h2{
        margin-bottom: 100px;        
    }
}   

/* Responsavel por deixar os blocos responsivo*/