<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youtube - Lite</title>
  
  <!-- Include the CSS & JS.. (This could be direct from the package or bundled) -->
  <link rel="stylesheet" href="../../src/module/lite-yt-embed.css"/>
  <script src="lite-yt-embed.js"></script>
</head>
<body>

  <!-- Use the element. You may use it before the lite-yt-embed JS is executed. -->
  <lite-youtube videoid="fZlMqAY7FoU" playlabel="Play"></lite-youtube>

</body>
</html>